center{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.oder{
    font-family: Algerian;
    background-color: aqua;
    flex: 50%;
    font-size:30px;
    
}
.unoder{
    flex: 50%;
    background-color:crimson;
    color:orange;
    font-size:30px ;
    font-family: Algerian;
}